#miBoton{
    background-color: #4F91B1;
    border-style: none;
    padding: 5px;
    width: 100px;
}

#tarjeta{
    margin-left: 10px;
    border-radius: 8%;
    /* height: 300px; */
    height: 30%;
}

.justify_center {
    display: flex;
    justify-content: center;
}

.segundaCard{
    margin-top: 23px;
}

.CarImg{
    border-radius: 10px;
    height: 127px;
}

#contenedor{
    height: 350px;
}

.fotoMaria{
    height: 130px;
}

.fotoLeire{
    height: 130px;
}

.fotoNatalia{
    height: 130px;
}








