
#HeaderBusqueda{
    display: flex;
    background-color: #4F91B1;
    
}

.Frase{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.MyButton{
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFBF00;
}

.BarraBusqueda{
    border-radius: 50px;
    border: none;
    
}

.justify-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.Icono{
    position: absolute;
    left: 150px;
}

