// TAMAÑOS

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
    @if $media==xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $media==sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $media==md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $media==lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}

// VARIABLES

$colorAzulOscuro : #4793B2;
$colorAzulClaro : #CDEBF3;
$colorNaranja : #F4960E;
$smallScreen : 500px;

// ALINEAR, MARGENES Y PADDINGS

.justify_center {
    display: flex;
    justify-content: center;
}

.padding {
    padding: 20px 50px 20px 50px;
}

.align_center{
    display: flex;
    align-items: center;
}

.home {
    & .logo{
        width: 51%;
        margin-top: 30%;
    }
     p{
        font-size: medium;
        text-align: start;
    }
    & .inputItem {
    padding: 20px;
    border-radius: 50px;
    border-style: none;
    margin: 3rem;
    width: 30%;
    height: 3rem;
    transition: width 0.4s ease-in-out;
    }
    & .inputItem:focus {
        border: 3px solid lightblue;
        outline: none;
        width: 50%;
        
    }
    & .Icono {
        width: 1em;
        color: $colorNaranja;

        @include media(xs) {
            width: 50px;
        }
    }
    & button{
        background-color: $colorAzulOscuro;
        color: $colorAzulClaro;
        padding: 5px 50px 5px 50px;
        border-radius: 20px;
        border-style: none;
        margin-bottom: 3rem;
    }
}








