$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media==xs {
      @media (max-width: $breakpoint-sm) {
          @content;
      }
  }

  @else if $media==sm {
      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
          @content;
      }
  }

  @else if $media==md {
      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
          @content;
      }
  }

  @else if $media==lg {
      @media (min-width: $breakpoint-lg) {
          @content;
      }
  }
}

$darkcolor: #4F91B1;
$lightcolor: #CCE9F1;
$fontcolor: #ffffff;

body {
  padding: 0;
  maring: 0;
  width: 100%;
}
.main-container {
  width: 100%;
  height: 100vh;
  background-color: $lightcolor;
  margin: -5px;
  padding: 0;
}
.nav-menu {
  #nav-menu-hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    height: 35px;
    width: 30px;
    padding: 10px 35px 16px 0px;
    transition: all ease-in-out 0.5s;
    span, span:before, span:after {
      position: absolute;
      width: 30px;
      height: 5px;
      background-color: $darkcolor;
      right: 20px;
      content: ' ';
      
      transition: all ease-in-out 0.5s;
    }
    
    span:before {
      top: 10px;
      right: 0;
    }
    span:after {
      top: 20px;
      right: 0;
    }
    
    div:after {
      
    }
  }
  
  #nav-menu-hamburger.active {
    top: calc(20px + 40px);
    span:before, #nav-toggle.active span:after {
      top: 20px;
    }
    span {
      background: transparent;
    }
    span:before {
      transform: rotate(45deg);
    }
    span:after {
      transform: rotate(-45deg);
    }
  }
}
.nav-menu-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px; //altura del nav-menu-body
  background-color: $darkcolor;
  transition: top ease-in-out 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

ul{
  margin: 0;
  @include media(lg) {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }


  li { 
    display: inline-block;
    margin: 0 20px 0 20px;
    font-size: 1em;
    color: $fontcolor;

    @include media(sm) {
      font-size: 1em;
      display: inline;
      margin: 0;
    }

    @include media(lg) {
    font-size: 1em;
    display: inline;
    margin: 0;
    }

  }
  
    p{
      text-decoration: none;
      color: $fontcolor;
    }
  
}
  
  
  
}
.nav-menu-body.hidden {
  top: -60px;
}

.rowNavbar{
  background-color: $lightcolor;
}

.logo{
  top: calc(20px + 60px);
  width: 50%;
  margin: 18px 0 0 0;
}