// TAMAÑOS

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
    @if $media==xs {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }

    @else if $media==sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            @content;
        }
    }

    @else if $media==md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            @content;
        }
    }

    @else if $media==lg {
        @media (min-width: $breakpoint-lg) {
            @content;
        }
    }
}

// VARIABLES

$colorAzulOscuro : #4793B2;
$colorAzulClaro : #CDEBF3;
$colorNaranja : #F4960E;
$smallScreen : 500px;

// ALINEAR, MARGENES Y PADDINGS

.justify_center {
    display: flex;
    justify-content: center;
}

.align_center {
    display: flex;
    align-items: center;
}

.App{
    display: flex;
    align-items: start;
}

 

.searchedComponent {
   & .navBar {
       margin: 2rem 0;
       align-items: center;
   }

    & input {
        padding: 20px;
        border-radius: 50px;
        border-style: none;
        width: 100%;
        height: 2rem;
    }

    & .logo {
        width: 8rem;
    }

    & button {
        background-color: $colorAzulOscuro;
        color: $colorAzulClaro;
        padding: 5px 50px 5px 50px;
        border-radius: 20px;
        border-style: none;
        height: 2rem;
    }

    & .Menu {
        display: flex;
        justify-content: flex-end;
    }

    & .Icono {
        color: $colorNaranja;
    }
    & .padding {
        padding: 0rem 5rem 0rem 5rem;
         @include media(xs) {
            padding: 0rem 2rem 0rem 2rem;
        }
    }
    & .buttonDiv{
        text-align: center;
        margin: 1rem 0;
    }
    & .hamburgerDiv{
        text-align: right;
    }
    & .divLlamadaApiFoto{
        background-color: #cccccc;
        height: 20rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        & .filtro{
            background-color: rgba(9, 23, 71, 0.63);
            width: 100%;
            height: 100%;
            & .palabraLlamadaApiFoto{
                color: $colorAzulClaro;
                font-weight: bold;
                display: flex;
            }
            & .filtroPalabra{
                height: 18rem;
            }
            & .filtroMenu{
                height: 2rem;
                width: 100%;
                background-color: rgba(9, 23, 71, 0.767);
                color: white;
                margin: 0;
                p{
                    margin: 0;
                }

                & .selected{
                    background-color: $colorAzulOscuro;
                }
            }
        }    
    }
}