// VARIABLES

$colorAzulOscuro : #4793B2;

.carta{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.imgPerfilTwitter{
    border-radius: 40px;
}
.textoFechaTwitter{
    color:$colorAzulOscuro;
    margin: 0;
}
.textoTwitter{
    margin: 0 13px;
}