.imgWikiCommons{
   vertical-align: middle;
   border-style: none;
   height: 300px;
   width: 300px;
   margin: 3px;
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}