// VARIABLES

$colorAzulOscuro : #4793B2;
$colorAzulClaro : #CDEBF3;
$colorNaranja : #F4960E;
$smallScreen : 500px;

// ALINEAR, MARGENES Y PADDINGS

.justify_center {
    display: flex;
    justify-content: center;
}

.align_center {
    display: flex;
    align-items: center;
}

.carta {
    margin: 1rem;
    border: 0.1rem solid $colorAzulOscuro;
    border-radius: 1rem;
    padding: 1rem;
    background-color: $colorAzulClaro;
    display: inline-grid;
    & button{
        background-color: $colorAzulOscuro;
        padding: 5px 50px 5px 50px;
        border-radius: 20px;
        border-style: none;
        & a{
            color: $colorAzulClaro;
        }
    }
}